.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.judul{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    font-family: Arial;
    font-weight: bold;
}

.header-right-burger{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: Arial;
}
